html {
    /* add some color ... */
}

body {
    /* fixed layout */
    width: 1000px;
    margin: 0 auto;
    padding: 10px;

    /* add some color ... */
}

img {
    display: none;
    width: 300px;
}