/* a button inside of an li */
li button {
    background-color: white;
    border: 1px solid white;
    border: none;
    display: inline-block;
    margin-left: 10px;
}

li button:hover {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

li button:active {
    background-color: rgb(228, 228, 228);
    border: 1px solid black;
    border-radius: 5px;
}